:root {
    --minBP: 600px;
    --maxBP: 992px;
}

header,
footer,
main {
    container-type: normal;
}

header a,
main a {
    text-transform: uppercase;
}

body {
    display: grid;
}

header,
footer,
main>* {
    padding-inline: 1rem;

    >* {
        margin-inline: auto;
    }

}


main {
    display: grid;
    grid-auto-rows: auto auto 1fr auto;
    grid-auto-columns: 1fr auto 1fr;

    &>*+*:nth-child(2n) {
        background-color: var(--clr-primary-light-1);
    }

    &>* {
        padding-block: 3rem;
    }
}

section>div.info {
    display: flex;
    justify-content: center;

    /* Large devices (laptops/desktops, 992px and up) */
    @media (max-width: 992px) {
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        text-align: center;
    }

    /* Large devices (laptops/desktops, 900px and up) */
    @media (min-width: 992px) {
        flex-direction: row;
        gap: 5rem;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        a {
            align-self: flex-end;
        }
    }
}

.roundedButton {
    border-radius: 1.25rem;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--clr-accent);
}

.circle {
    display: flex;
    aspect-ratio: 1;
    border-radius: 100%;
    padding: 3rem;
    background-color: var(--clr-accent);
    height: 12rem;
    justify-content: center;
}

section:last-of-type {
    margin-bottom: 2rem;
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    gap: 1rem;
    max-width: 10rem;

    .text {
        font-weight: var(--fw-600);
        text-transform: uppercase;
        font-size: var(--fs-400);
        line-height: 1;
    }

    .icon {
        height: 125%;
        width: auto;
    }
}

header {
    background-color: white;
    height: 100%;

    .banner {
        .text {
            color: var(--clr-accent);
        }

        .icon g {
            stroke: var(--clr-accent);
        }
    }

    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0;
        margin-block: 0.25rem;
        gap: 2rem;
        width: 100%;
        justify-content: space-between;

        ul {
            display: flex;
            flex-direction: row;
            gap: 3.5rem;

            li {
                font-weight: var(--fw-semi-bold);
            }
        }

        .desktop {
            @media only screen and (max-width: 992px) {
                display: none;
            }
        }

        .mobile {
            @media only screen and (min-width: 992px) {
                display: none;
            }
        }
    }
}

.newsletter {
    display: flex;
    justify-content: center;

    .form {
        --border-radius: 3rem;
        --width: 25rem;
        display: flex;
        flex-direction: column;
        max-width: var(--width);
        gap: 1rem;

        .wrapper {
            border-radius: var(--border-radius);
            padding: 0.2rem;
            display: flex;
            border: 1px solid black;
            width: calc(var(--width) - 5rem);

            input {
                --border-radius: 1.25rem;
                outline: none;
                border: none;
                text-align: center;
                width: 100%;
                margin-inline: 1rem;
            }
        }

    }

    @media only screen and (max-width: 992px) {
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        text-align: center;
        max-width: 75%;

        .circle {
            order: -1;
        }

        .form {
            max-width: 100%;
            align-items: center;

            form,
            .wrapper {
                width: 100%;
            }
        }
    }

    @media only screen and (max-width:600px) {
        max-width: 100%;
    }
}

.collage {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .grid {
        background-color: white;
        box-shadow: var(--border-shadow);
        display: grid;
        width: 100%;


        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;

        @media only screen and (max-width:600px) {
            padding: 2rem;
            grid-template-areas: "a b"
                "c d"
                "e f";
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            padding: 1.5rem;
            grid-template-areas: "a b c"
                "d e f";
        }

        /* Large devices (laptops/desktops, 900px and up) */
        @media only screen and (min-width: 992px) {
            padding: 1rem;
            grid-template-areas: "a a b c d d"
                "a a e e f f";
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1;

        &:nth-child(1) {
            grid-area: a;
        }

        &:nth-child(2) {
            grid-area: b;
        }

        &:nth-child(3) {
            grid-area: c;
        }

        &:nth-child(4) {
            grid-area: d;
        }

        &:nth-child(5) {
            grid-area: e;
        }

        &:nth-child(6) {
            grid-area: f;
        }
    }
}

.plant__grid {
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-rows: auto auto 1fr auto auto;

    /* Large devices (laptops/desktops, 900px and up) */
    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Large devices (laptops/desktops, 900px and up) */
    @media (min-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Large devices (laptops/desktops, 900px and up) */
    @media (min-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
    }

    .plant {
        display: grid;
        grid-template-rows: subgrid;
        background-color: white;
        grid-row: span 5;
        padding: 0.9rem;
        box-shadow: var(--border-shadow);
        gap: 1rem;

        h3 {
            font-size: clamp(var(--fs-600), var(--fs-400), var(--fs-200));
        }

        .description {
            font-weight: var(--fw-400);
            font-size: clamp(var(--fs-500), var(--fs-400), var(--fs-300));

            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (min-width: 992px) {
                max-width: 25ch;
            }
        }

        .image {
            display: grid;
            grid-template-columns: 1fr;

            img {
                grid-row-start: 1;
                grid-column-start: 1;

                @media only screen and (max-width: 600px) {
                    aspect-ratio: 5/3;
                }

                @media only screen and (min-width: 600px) {
                    aspect-ratio: 1/1;
                }

                @media only screen and (min-width: 992px) {
                    aspect-ratio: 3/4;
                }
            }

            .svg {
                height: 100%;
                scale: 35%;
                filter: opacity(50%);
            }



            img:not(.svg) {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .adjectives {
            display: flex;
            gap: 0.25rem;
            flex-wrap: wrap;
            align-self: center;
            text-transform: uppercase;
            align-items: flex-start;
            justify-content: start;

            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (max-width: 600px) {
                gap: .5rem;
            }

            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (min-width: 600px) {
                gap: .5rem;
            }

            /* Large devices (laptops/desktops, 900px and up) */
            @media only screen and (min-width: 992px) {
                gap: .25rem;
            }

            li {
                padding: .5rem;
                font-weight: var(--fw-bold);
                color: white;
                display: inline-block;
                border-radius: 1.5rem;
                font-size: var(--fs-100);

                &[data-tag="air"] {
                    background-color: var(--clr-air)
                }

                &[data-tag="green"] {
                    background-color: var(--clr-green)
                }

                &[data-tag="fragrant"] {
                    background-color: var(--clr-fragrant)
                }

                &[data-tag="air"] {
                    background-color: var(--clr-air)
                }

                &[data-tag="fast"] {
                    background-color: var(--clr-fast)
                }

                &[data-tag="edible"] {
                    background-color: var(--clr-edible)
                }

                &[data-tag="easy"] {
                    background-color: var(--clr-easy);
                }

                &[data-tag="sunloving"] {
                    background-color: var(--clr-sunloving);
                }

                &[data-tag="flowers"] {
                    background-color: var(--clr-flower);
                }

                &[data-tag="robust"] {
                    background-color: var(--clr-robust);
                }

                &[data-tag="decorative"] {
                    background-color: var(--clr-decorative);
                }

                &[data-tag="colorful"] {
                    background-color: var(--clr-colorful);
                }

            }
        }

        .author {

            /* Small devices (portrait tablets and large phones, 600px and up) */
            height: 50px;

            display: flex;
            gap: 1rem;

            .info {
                display: flex;
                flex-direction: column;
                align-self: center;

                .name {
                    font-weight: var(--fw-semi-bold);
                }

                flex-shrink: 1;
            }

            .avatar {
                border-radius: 100%;
                border: 1px solid dodgerblue;
                aspect-ratio: 1;
            }
        }
    }
}

footer {
    color: white;
    background-color: var(--clr-accent);
    font-size: var(--fs-200);
    padding-block: 3rem 2rem;


    li {
        margin: 0.5rem;
    }

    a {
        color: var(--clr-accent-light-1);
        font-weight: var(--fw-bold);
    }


    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .info {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            >.text {
                text-align: start;
                max-width: 22rem;

            }

            li {
                display: flex;
                flex-direction: row;
                margin: 1rem 0;
                gap: 0.5rem;

                img {
                    scale: 0.75;
                }

                span {
                    font-weight: var(--fw-bold);
                }
            }
        }

        .menu {

            @media only screen and (max-width: 992px) {
                display: none;
            }

            li {
                margin-bottom: 1rem;
            }
        }
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {

    header,
    footer,
    main>* {
        >* {
            max-width: 100%
        }
    }

}

/* Large devices (laptops/desktops, 900px and up) */
@media (min-width: 992px) {

    header,
    footer,
    main>* {
        >* {
            max-width: 992px;
        }
    }




}