@import 'reset.css';
@import 'tags.css';

.page__header a,
main a {
    text-transform: uppercase;
}

header,
footer {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.content-grid {
    --padding-inline: 2rem;
    --content-max-width: 60rem;
    --breakout-max-width: 75rem;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid>* {
    grid-column: content;
}


.content-grid>.breakout {
    grid-column: breakout;
}

.content-grid>.full-width {
    grid-column: full-width;
    background-color: white;
}

.collage {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.collage__grid {
    background-color: white;
    padding: 1rem;
    box-shadow: var(--border-shadow);
    display: grid;
    grid-template-areas: "a a b c d d"
        "a a e e f f";
}

.collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;

    &:nth-child(1) {
        grid-area: a;
    }

    &:nth-child(2) {
        grid-area: b;
    }

    &:nth-child(3) {
        grid-area: c;
    }

    &:nth-child(4) {
        grid-area: d;
    }

    &:nth-child(5) {
        grid-area: e;
    }

    &:nth-child(6) {
        grid-area: f;
    }
}


.roundedButton {
    border-radius: 1.25rem;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--clr-accent);
}

.circle {
    display: flex;
    aspect-ratio: 1;
    border-radius: 100%;
    padding: 3rem;
    background-color: var(--clr-accent);
    height: 12rem;
    justify-content: center;
}

main>section,
main>div {
    padding-block: 2rem;
}


.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    gap: 1rem;
    max-width: 10rem;

}

.banner__text {
    font-weight: var(--fw-600);
    text-transform: uppercase;
    font-size: var(--fs-400);
    line-height: 1;
}

.banner__icon {
    height: 125%;
    width: auto;
}

header {
    background-color: white;
    height: 100%;

    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0;
        margin-block: 0.25rem;
        gap: 2rem;
        width: 100%;
        justify-content: space-between;

        ul {
            display: flex;
            flex-direction: row;
            gap: 3.5rem;

            li {
                font-weight: var(--fw-semi-bold);
            }
        }
    }
}

header .banner__text {
    color: var(--clr-accent);
}

header .banner__icon g {
    stroke: var(--clr-accent);
}

.nyhetsbrev {
    display: flex;
    justify-content: center;
    align-content: center;
}

.nyhetsbrev__form {
    --border-radius: 3rem;
    --width: 25rem;
    display: flex;
    flex-direction: column;
    max-width: var(--width);
    gap: 1rem;
    align-items: center;

    form {
        border-radius: var(--border-radius);
        padding: 0.2rem;
        border: 1px solid black;
        display: flex;
        width: inherit;

        input {
            border-radius: inherit;
            outline: none;
            border: none;
            color: var(--clr-primary-dark);
            background: none;
            padding-left: 2rem;
            width: inherit;
        }
    }

}


.tidigareOdlingar {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.tidigareOdlingar__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
        align-self: flex-end;
    }
}



.plant__grid {
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-rows: auto auto 1fr auto auto;
    padding-inline: 0;
    grid-template-columns: repeat(4, 1fr);
}

.plant {
    display: grid;
    grid-template-rows: subgrid;
    background-color: white;
    grid-row: span 5;
    padding: 0.9rem;
    box-shadow: var(--border-shadow);
    gap: 1rem;

    h3 {
        font-size: var(--fs-600)
    }
}

.plant__author {
    display: flex;
    padding: 0;
    height: 50px;
    justify-content: flex-start;
    gap: 0.5rem;
}

.plant__author__info {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: var(--fs-200);

    .name {
        font-weight: var(--fw-semi-bold);
    }

}

.plant__author__avatar {
    border-radius: 100%;
    aspect-ratio: 1;
    border-width: 1px;
    border-style: solid;
}

.collage {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.plant__tags {
    display: flex;
    gap: .4rem;
    flex-wrap: wrap;
    align-self: center;
    text-transform: uppercase;
    align-items: flex-start;
    justify-content: start;
    height: 100%;

    li {
        padding: .5rem;
        font-weight: var(--fw-bold);
        color: white;
        display: inline-block;
        border-radius: 1.5rem;
        font-size: var(--fs-100);
    }
}

.plant__description {
    font-weight: var(--fw-400);
    font-size: var(--fs-400);
    text-wrap: pretty;
}

.plant__image {
    display: grid;
    grid-template-columns: 1fr;

    img {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .subject {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .svg {
        height: 100%;
        scale: 35%;
        filter: opacity(50%);
    }

}

.page__footer {
    margin-top: 2rem;
    color: white;
    background-color: var(--clr-accent);
    font-size: var(--fs-200);
    padding-block: 3rem 2rem;

    li {
        margin: 0.5rem;
    }

    a {
        color: var(--clr-accent-light-1);
        font-weight: var(--fw-bold);
    }


    .page__footer__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .info {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            >.text {
                text-align: start;
                max-width: 22rem;

            }

            li {
                display: flex;
                flex-direction: row;
                margin: 1rem 0;
                gap: 0.5rem;

                img {
                    scale: 0.75;
                }

                span {
                    font-weight: var(--fw-bold);
                }
            }
        }

        .menu {
            li {
                margin-bottom: 1rem;
            }
        }
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media (max-width : 992px) {

    .desktop {
        display: none;
    }

    .plant__image img {
        aspect-ratio: 1/1;
    }

    .tidigareOdlingar {
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        text-align: center;
    }


    .nyhetsbrev {
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        text-align: center;
        max-width: 100%;

        .circle {
            order: -1;
        }

        .form {
            max-width: 100%;
            align-items: center;

            form,
            .wrapper {
                width: 100%;
            }
        }
    }

    .collage__grid {
        grid-template-areas: "a b c"
            "d e f";
    }

    .plant__grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }
}

@media (max-width : 600px) {
    .plant__image img {
        aspect-ratio: 5/3;
    }

    .collage__grid {
        grid-template-areas: "a b"
            "c d"
            "e f";
    }

    .plant__grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width : 992px) {

    section>div.info {
        flex-direction: row;
        gap: 5rem;
    }

    .mobile {
        display: none;
    }

    .plant__image img {
        aspect-ratio: 3/4;
    }

    .nyhetsbrev__form {
        align-items: flex-start;
    }
}